body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter{
    display: flex;
    align-items: center;

}
.btn{
    padding: 10px,15px;
    font-size: 30px;
    background-color: wheat;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
}
.btn:hover{
    background-color: #3fff3f;
    
}